.orderHeading {
  display: flex;
  justify-content: space-around;
}

.orderHeading h1 {
  font-size: 60px;
}

.orderHeading a {
  font-size: 25px;
}


.totalOrder {
  background-color: #6bb7ee;
}

.orderRecievedToDealer {
  background-color: #d8ef74;
}

.pendingOrders {
  background-color: #eb6565;
}

.completedTillDate {
  background-color: #a8e67b;
}